/* src/App.css */

.bg-gradient-custom {
  background: linear-gradient(145deg, #111330, #10181b, #120e25bb);
  position: relative;
  overflow: hidden;
}

.glow-effect::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 600px;
  background: radial-gradient(circle, rgba(138, 43, 226, 0.4), transparent 60%);
  transform: translate(-50%, -50%);
  animation: glow 10s infinite alternate;
  z-index: 0; 
}

@keyframes glow {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    transform: translate(-50%, -50%) scale(1.5);
  }
}
